.image-box{
    text-align: center;
}
.big{
    width: 46%;
    margin: auto;
    display: inline-block;
}
.title a{
    color: #000;
}
.title a:hover{
    background-image: linear-gradient(90deg, blue, orangered);
    background-attachment: fixed;
    background-size: 10% 10%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.big img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 920px) {
    .big{
        width: 100%;
    }    
}